<footer class="footer no-padding bg-white">
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-nude text-nude>
            <h4 class=" logo-font my-1">.</h4>
        </div>
    </div>
    <span></span>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6 col-lg-3 text-center text-black">
            <p><a href="{% url 'contactform' %}" class="text-black">Contact Us</a></p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 order-md-3 order-lg-2 text-center text-black">
            <a href="{% url 'blog' %}" class="text-black">Journal</a>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 order-md-3 order-lg-3 text-center">
            <thead>
                <tr>
                    <div class="social-media">
                        <th class="some">
                            <a href="https://www.facebook.com" class="text-black" target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </th>
                        <th class="some">
                            <a href="https://www.instagram.com" class="text-black" target="_blank">
                                <i class="fab fa-instagram fa-lg"></i>
                            </a>
                        </th>
                        <th class="some">
                            <a href="https://www.pinterest.com" class="text-black" target="_blank">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </th>
                        <th class="some">
                            <a href="https://www.youtube.com" class="text-black" target="_blank">
                                <i class="fab fa-youtube-square"></i>
                            </a>
                        </th>
                    </div>
                </tr>
            </thead>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 order-md-4 order-lg-4 mt-2 text-center text-black">
            <p class="footer">© 2021 Pace Posters</p>
        </div>


    </div>
</footer>